@font-face {
    font-family: Pbold;
    src: url(fonts/PBI.ttf);
    font-display: swap;
}

@font-face {
    font-family: Pmedium;
    src: url(fonts/PM.ttf);
    font-display: swap;
}

@font-face {
    font-family: Plight;
    src: url(fonts/PL.ttf);
    font-display: swap;
}

@font-face {
    font-family: Pregular;
    src: url(fonts/PR.ttf);
    font-display: swap;
}

@font-face {
    font-family: Tregular;
    src: url(fonts/TNR.ttf);
    font-display: swap;
}

@font-face {
    font-family: Tbolditalic;
    src: url(fonts/TNRBI.ttf);
    font-display: swap;
}

@font-face {
    font-family: Titalic;
    src: url(fonts/TNRI.ttf);
    font-display: swap;
}



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html, body{
    height: 100%;
    margin: 0;
}

body{
    align-items: center;
    background-color: pink;
    display: flex;
    font-family: 'Pmedium';

}
.container{
    color: #333;
    margin: 0 auto;
    text-align: center;
}
h1{
    font-weight: bold;
    letter-spacing: .125rem;
    text-transform: uppercase;
}

li{
    display: inline-block;
    font-size: 1.5rem;
    list-style-type:none ;
    padding: 1em;
    text-transform: uppercase;
}

li span{
    display: block;
    font-size: 4.5rem;

}

.emoji{
    display: none;
    padding: 1rem;
}

.emoji span{
    font-size: 4rem;
    padding: 0 .5rem;
}
